<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CableLabs Huddle Rooms</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/tabs.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="javascripts/tabs.js"></script>
  <script src="javascripts/script.js"></script>
</head>
<body>
    <div class="wrap">
        <div class="main">
    <div class="tabs standard">
        <ul class="tab-links">
            <li><a href="#tab1">1st Floor NW</a></li>
            <li class="active"><a href="#tab2">2nd Floor NW</a></li>
            <li><a href="#tab3">2nd Floor SE</a></li>
            <li><a href="#tab4">Swing</a></li>
        </ul>
        
        <div class="tab-content">
            <div id="tab1" class="tab">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="850" height="585">
                    <g>
                        <image x="0" y="0" width="850" height="585" preserveAspectRatio="none" xlink:href="images/Main_1_NW_no_names.png" xlink:type="simple" xlink:show="embed" xlink:actuate="onLoad"></image>
                        <polygon id="107" points="670,359 714,359 714,402 670,402"/>
                        <polygon id="108" points="715,360 758,360 758,372 738,403 715,403"/>
                        <polygon id="134" points="395,360 450,360 450,440 395,440"/>
                        <polygon id="137" points="261,360 300,360 300,423 261,423"/>
                        <polygon id="139" points="130,525 195,483 220,483 220,550 130,550"/>
                        <polygon id="140" points="530,335 542,330 609,330 609,402 563,402"/>
                        <polygon id="142" points="206,392 261,360 261,422 222,422"/>
                        <polygon id="145" points="119,267 180,235 227,323 169,353"/>
                        <polygon id="148" points="20,345 53,345 88,410 88,420 20,420"/>
                        <polygon id="149" points="20,147 89,147 89,187 20,222"/>
                        <polygon id="151" points="151,140 189,112 210,145 169,171"/>
                        <polygon id="152" points="195,113 233,89 255,122 212,144"/>
                    </g>
                </svg>
            </div>
            
            <div id="tab2" class="tab active">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="850" height="585">
                    <g>
                        <image x="0" y="0" width="850" height="585" preserveAspectRatio="none" xlink:href="images/Main_2_NW.png" xlink:type="simple" xlink:show="embed" xlink:actuate="onLoad"></image>
                        <polygon id="246" points="689,287 771,287 771,314 731,378 689,378"></polygon>
                        <polygon id="247" points="683,443 760,443 760,537 741,537 741,557 683,557"></polygon>
                        <polygon id="248" points="604,443 682,443 682,557 604,557"></polygon>
                        <polygon id="254" points="475,443 532,443 532,483 475,483"></polygon>
                        <polygon id="256" points="396,396 430,375 454,414 454,442 418,442"></polygon>
                        <polygon id="257" points="368,414 396,396 418,442 381,442"></polygon>
                        <polygon id="258" points="333,353 422,353 435,373 368,413"></polygon>
                        <polygon id="261" points="253,510 320,472 350,472 350,544 253,544"></polygon>
                        <polygon id="263" points="191,420 232,398 258,433 214,456"></polygon>
                        <polygon id="265" points="72,487 120,487 146,530 146,558 72,558"></polygon>
                        <polygon id="266" points="72,443 95,443 118,486 72,486"></polygon>
                        <polygon id="274" points="74,20 147,20 147,54 74,92"></polygon>
                        <polygon id="275" points="252,35 297,35 297,83 268,83 252,49"></polygon>
                        <polygon id="277" points="343,189 371,189 371,220, 343,220"></polygon>
                        <polygon id="278" points="373,189 401,189 401,220, 373,220"></polygon>
                        <polygon id="279" points="300,133 403,133 403,187, 300,187"></polygon>
                        <polygon id="282" points="298,35 363,35 363,110, 298,110"></polygon>
                        <polygon id="286" points="604,154 663,154 663,243, 604,243"></polygon>
                        <polygon id="287" points="687,154 735,154 735,195, 687,195"></polygon>
                        <polygon id="288" points="687,196 713,196 713,220, 687,220"></polygon>
                        <polygon id="289" points="714,196 735,196 735,220, 714,220"></polygon>
                    </g>
                </svg>
            </div>
            
            <div id="tab3" class="tab">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="850" height="585">
                    <g>
                        <image x="0" y="0" width="850" height="585" preserveAspectRatio="none" xlink:href="images/Main_2_SE.png" xlink:type="simple" xlink:show="embed" xlink:actuate="onLoad"></image>
                        <polygon id="203" points="33,127 132,127 132,154 92,220 33,220"/>
                        <polygon id="204" points="33,49 160,49 160,125 33,125"/>
                        <polygon id="205" points="163,210 211,184 238,185 237,245 203,245 203,250 164,250 163,210"/>
                        <polygon id="207" points="162,101 209,101 209,147 162,147"/>
                        <polygon id="208" points="161,48 209,48 209,100 161,100"/>
                        <polygon id="211" points="374,104 426,104 426,148 374,148"/>
                        <polygon id="215" points="669,342 714,315 736,354 689,378 669,342"/>
                        <polygon id="217" points="524,170 563,170 563,207 524,207"/>
                        <polygon id="219" points="465,131 499,131 499,151 465,151"/>
                        <polygon id="221" points="428,131 462,131 462,151 428,151"/>
                        <polygon id="223" points="613,97 633,86 647,112 628,122 613,97"/>
                        <polygon id="224" points="627,121 647,110 661,136 642,146 627,121"/>
                        <polygon id="225" points="633,85 675,60 703,112 662,135 633,85"/>
                        <polygon id="226" points="740,23 830,23 831,75 755,74 739,47 740,23"/>
                        <polygon id="228" points="646,301 691,274  713,313 669,339 646,301"/>
                        <polygon id="232" points="468,317 539,317 539,359 480,393 476,386 468,386 468,317"/>
                        <polygon id="234" points="759,430 790,416 832,416 832,557 759,557"/>
                        <polygon id="235" points="489,502 546,470 561,497 559,543 495,543 495,512 489,502"/>
                        <polygon id="237" points="389,435 389,373 432,373 432,420 408,435 389,435"/>
                        <polygon id="239" points="455,444 511,411 546,470 488,499 455,444"/>
                        <polygon id="241" points="226,469 286,469 286,500 226,500"/>
                        <polygon id="245" points="106,336 203,336 203,445 106,445 76,395"/>
                </svg>
            </div>
            
            <div id="tab4" class="tab">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="850" height="585">
                    <g>
                        <image x="0" y="0" width="850" height="585" preserveAspectRatio="none" xlink:href="images/Swing.png" xlink:type="simple" xlink:show="embed" xlink:actuate="onLoad"></image>
                        <polygon id="602" points="361,480 373,471 386,468 476,468 489,475 503,495 503,554 361,554"></polygon>
                        <polygon id="601" points="243,508 302,508 302,570 243,570"></polygon>
                        <polygon id="603" points="66,128 126,128 126,186 66,186"></polygon>
                    </g>
                </svg>
            </div>
        </div>
    </div>
    </div>    </div> 
</body>
</html>
